<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Carta El Parque</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <header id="header"></header>

    <main>
        <h1>Carta de Raciones y Bebidas</h1>
        <div id="menu"></div>
    </main>

    <footer id="footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/js/headerFooter.js" defer></script>
<script src="/js/carta.js" defer></script>


</html>
